<% include ../partials/admin_header %>

<div class="row">
    <div class="col-12 col-md-10">
        <h1 class="title">ĐƠN HÀNG KHÁCH HÀNG</h1>
    </div>
</div>

<table class="table table-striped alignmiddle order">
    <thead>
        <tr class="home">
            <th>ID</th>
            <th>Created date</th>
            <th>Delivery date</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(function(order) {%>
        <% var orderDate = order.date.getDate() + "/" + (order.date.getMonth()+1)  + "/" + order.date.getFullYear(); %>
        <% var deliveryDate = (order.date.getDate()+3) + "/" + (order.date.getMonth()+1)  + "/" + order.date.getFullYear(); %>
        <tr class="clickable-row" data-href="/admin/orders/get-order/<%= order.ID %>">
            <td><a href="/admin/orders/get-order/<%= order.ID %>"><%= order.ID %></a></td>
            <td><%= orderDate %></td>
            <td><%= deliveryDate %></td>
            <td>
                <% var proccess = "Processing"; %>
                <% var ship = "Shipping"; %>
                <% var completed = "Completed"; %>
                <% var cancel = "Cancel"; %>

                <% if (order.status == "Processing") { %>
                    <div class="action d-flex justify-content-center align-items-center">
                        <a class="btn btn-warning mr-1 disabled">Handling</a>
                        <a href="/admin/orders/change-status/<%= ship %>/<%= order.ID %>" class="btn btn-outline-success mr-1">Shipping</a>
                        <a href="/admin/orders/change-status/<%= completed %>/<%= order.ID %>" class="btn btn-outline-danger mr-1">Completed</a>
                        <a href="/admin/orders/change-status/<%= cancel %>/<%= order.ID %>" class="btn btn-outline-secondary">Cancel</a>
                    </div> 
                <% } %>

                <% if (order.status == "Shipping") { %>
                    <div class="action d-flex justify-content-center align-items-center">
                        <a href="/admin/orders/change-status/<%= proccess %>/<%= order.ID %>" class="btn btn-outline-warning mr-1">Handling</a>
                        <a class="btn btn-success mr-1 disabled">Shipping</a>
                        <a href="/admin/orders/change-status/<%= completed %>/<%= order.ID %>" class="btn btn-outline-danger mr-1">Completed</a>
                        <a href="/admin/orders/change-status/<%= cancel %>/<%= order.ID %>" class="btn btn-outline-secondary">Cancel</a>
                    </div> 
                <% } %>

                <% if (order.status == "Completed") { %>
                    <div class="action d-flex justify-content-center align-items-center">
                        <a href="/admin/orders/change-status/<%= proccess %>/<%= order.ID %>" class="btn btn-outline-warning mr-1">Handling</a>
                        <a href="/admin/orders/change-status/<%= ship %>/<%= order.ID %>" class="btn btn-outline-success mr-1">Shipping</a>
                        <a class="btn btn-danger disabled mr-1">Completed</a>
                        <a href="/admin/orders/change-status/<%= cancel %>/<%= order.ID %>" class="btn btn-outline-secondary">Cancel</a>
                    </div> 
                <% } %>

                <% if (order.status == "Cancel") { %>
                    <div class="action d-flex justify-content-center align-items-center">
                        <a href="/admin/orders/change-status/<%= proccess %>/<%= order.ID %>" class="btn btn-outline-warning mr-1">Handling</a>
                        <a href="/admin/orders/change-status/<%= ship %>/<%= order.ID %>" class="btn btn-outline-success mr-1">Shipping</a>
                        <a href="/admin/orders/change-status/<%= completed %>/<%= order.ID %>" class="btn btn-outline-danger mr-1">Completed</a>
                        <a class="btn btn-secondary disabled">Cancel</a>
                    </div> 
                <% } %>               
            </td>
            <td>
                <div class="action d-flex justify-content-center align-items-center">
                    <a href="/admin/orders/delete-order/<%= order._id %>" class="btn btn-danger confirmDeletion">Delete</a>
                </div>  
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<script>
   $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

<% include ../partials/admin_footer %>