<% include ../partials/admin_header %>

<div class="container">
    <div class="bill">
        <p class="bill-title" style="font-size: x-large; text-align: center;">HÓA ĐƠN THANH TOÁN</p>
        <p class="bill-title" style="font-size: large; text-align: center; ">MÃ SỐ ĐƠN HÀNG <%= orderID %></p>
        <p class="bill-title">CHI TIẾT ĐƠN HÀNG </p>
        <div class="table-responsive-md ">
            <table class="table table-sm table-borderless">
                <thead>
                  <tr style="background-color: #d5f6f8; color: #52979c;">
                    <th scope="col">STT</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tổng tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <% var total = 0 %>
                  <% orderCart.forEach((product, index) => { %>
                    <% var sub = parseInt(product.price) * parseInt(product.qty) %>
                    <% var displaySub = parseInt(product.qty * product.price).toLocaleString("vi", { style: "currency", currency: "VND", })%>
                    <% total += +sub %>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td><%= product.title %></td>
                      <td><%= parseInt(product.price).toLocaleString("vi", { style: "currency", currency: "VND", }) %></td>
                      <td><%= product.qty %></td>
                      <td><%= displaySub %></td>
                    </tr>
                  <% }); %>
                </tbody>
            </table>
        </div>
        <p class="bill-title">PHƯƠNG THỨC GIAO HÀNG</p>
        <p class="bill-info-details">Thanh toán khi nhận hàng.</p>
        
        <% if (!orderOwner) { %>
            <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="row h-100">
                    <div class="col-md-12 h-100">
                        <div class="infocard">
                            <p style="text-align: center; color:#5CA2A8; font-weight: bold;">THÔNG TIN GIAO HÀNG</p>
                            <div class="col-md" style="color: #5CA2A8; margin: 0px 20px;">
                                <p style="margin-bottom: 0;">Tên người nhận:</p>
                                <p style="font-weight: bold;"><%= receiver.username %></p>
                                <p style="margin-bottom: 0;">Địa chỉ: </p>
                                <p style="font-weight: bold;"><%= receiver.address %></p>
                                <p style="margin-bottom: 0;">Email xác nhận:</p>
                                <p style="font-weight: bold;"><%= receiver.email %></p>
                                <p style="margin-bottom: 0;">Số điện thoại :</p>
                                <p style="font-weight: bold;"><%= receiver.phone %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="row h-100">
                    <div class="col-md-6 h-100">
                        <div class="infocard">
                            <p style="text-align: center;color:#5CA2A8; font-weight: bold;">THÔNG TIN NGƯỜI ĐẶT HÀNG</p>
                            <div class="col-md" style="color: #5CA2A8; margin: 0px 20px;">
                                <p style="margin-bottom: 0;">Username:</p>
                                <p style="font-weight: bold;"><%= orderOwner.username %></p>
                                <p style="margin-bottom: 0;">Email :</p>
                                <p style="font-weight: bold;"><%= orderOwner.email %></p>
                                <p style="margin-bottom: 0;">Số điện thoại :</p>
                                <p style="font-weight: bold;"><%= orderOwner.phone %></p>    
                                <p style="margin-bottom: 0;">Địa chỉ: </p>
                                <p style="font-weight: bold;"><%= orderOwner.address %></p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6 h-100">
                        <div class="infocard">
                            <p style="text-align: center; color:#5CA2A8; font-weight: bold;">THÔNG TIN GIAO HÀNG</p>
                            <div class="col-md" style="color: #5CA2A8; margin: 0px 20px;">
                                <p style="margin-bottom: 0;">Tên người nhận:</p>
                                <p style="font-weight: bold;"><%= receiver.username %></p>
                                <p style="margin-bottom: 0;">Địa chỉ: </p>
                                <p style="font-weight: bold;"><%= receiver.address %></p>
                                <p style="margin-bottom: 0;">Email xác nhận:</p>
                                <p style="font-weight: bold;"><%= receiver.email %></p>
                                <p style="margin-bottom: 0;">Số điện thoại :</p>
                                <p style="font-weight: bold;"><%= receiver.phone %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <p class="bill-title">PHÍ GIAO HÀNG</p>
        <p class="bill-info-details">Miễn phí nha!</p>
        <p class="bill-title">TỔNG TIỀN THANH TOÁN</p>
        <p class="bill-info-details"><%= parseInt(total).toLocaleString("vi", { style: "currency", currency: "VND", }) %></p>
        <p class="bill-title">THỜI GIAN GIAO HÀNG DỰ KIẾN</p>
        <% var orderDate = date.getDate() + "/" + (date.getMonth()+1)  + "/" + date.getFullYear(); %>
        <% var deliveryDate = (date.getDate()+3) + "/" + (date.getMonth()+1)  + "/" + date.getFullYear(); %>
        <p class="bill-info-details">Từ ngày <%= orderDate %> - <%= deliveryDate %></p>
        <p class="bill-title">TÌNH TRẠNG ĐƠN HÀNG: <h5 class="text-uppercase ml-3"         
            <% if ( status == "Processing" ) { %>
                style="color: rgb(219, 172, 18);"
            <% } else if (status == "Shipping") { %>
                style="color: rgb(19, 116, 19);"
            <% } else if (status == "Completed") { %>
                style="color: rgb(160, 26, 26);"
            <% } else { %>
                style="color: rgb(160, 160, 160);"
            <% } %>><strong><%= status %></strong></h5></p>
    </div>
</div>

<% include ../partials/admin_footer %>