<% include ../partials/admin_header %>

<div class="row">
    <div class="col-12 col-md-10">
        <h1 class="title">DANH SÁCH SẢN PHẨM</h1>
    </div>
    <div class="col-12 col-md-2">
        <a class="button btn btn-md" href="/admin/products/add-product">THÊM SẢN PHẨM</a>
    </div>
</div>

<% if (count > 0) { %>

<table class="table table-striped alignmiddle">
    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Image</th>
            <th>Original price</th>
            <th>Sale percentage</th>
            <th>Sale percentage price</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Quantity</th>
            <th>Quantity sold</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product) {%>
        <tr>
            <td><%= product.name %></td>
            <td>
                <% if (product.image == "") { %>
                    <img id="noimage" src="/images/noimage.png">
                <% } else { %>
                    <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                <% } %>
            </td>
            <td><%= product.price %></td>
            <td><%= product.sale %>
            <td><%= product.salePrice %></td>
            <td><%= product.category %></td>
            <td><%= product.ratingAverage.toFixed(2) %></td>
            <td><%= product.totalQuantity %></td>
            <td><%= product.sold %></td>
            <td><a class="btn btn-md button" href="/admin/products/edit-product/<%= product._id %>">Edit</a></>
            <td><a class="btn btn-md button confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else { %>
    <div class="d-flex justify-content-center align-items-center" style="height: 500px;">
        <h3 class="text-center title">Hiện tại không có sản phẩm nào!</h3>
    </div>
<% } %>
<% include ../partials/admin_footer %>