<% include ../partials/header %>

<div class="container">
    <div class="infocard mb-3">
        <p style="text-align: center;color:#5CA2A8; font-weight: bold;">CHỈNH SỬA THÔNG TIN GIAO HÀNG</p>
        <div class="d-flex">
            <div class="col-md-5" style="color: #5CA2A8; margin: 0px 20px;">
                <form action="/orders/editreceiver/<%= orderID %>" method="POST">
                    <p style="margin-bottom: 0;">Username:</p>
                    <input style="margin-bottom: 10px;" type="text" name="username" class="form-control" id="username" value="<%= username %>" required>
                    <p style="margin-bottom: 0; margin-top: 10px;">Email :</p>
                    <input style="margin-bottom: 10px;" type="email" name="email" class="form-control" id="email" value="<%= email %>" required>
                    <p style="margin-bottom: 0;">Số điện thoại :</p>
                    <input style="margin-bottom: 10px;" type="tel" name="phone" class="form-control" id="phone" value="<%= phone %>" required>
                    <div class="col-md-6">
                        <div class="container" style="text-align: center; padding-bottom: 10px; width: 350px;">
                            <button type="submit" class="btn btn-md button-back color-1" style="background-color: #51BCB1; color: white; font-weight: bold;">
                                Chỉnh sửa thông tin</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5" style="color: #5CA2A8; margin: 0px 0px; padding: 0 20px 0 0;">
                <form action="/orders/editaddressreceiver/<%= orderID %>" method="POST">
                    <div class="ml-5">
                        <div class="row mt-2 mx-2">
                            <label class="col-sm-3 col-form-label mr-5" for="address">Tỉnh/TP:</label>
                            <div class="col-sm-5">
                                <select name="province" id="province_select" class="form-control" style="border: none; outline: none;
                                background: transparent; border-bottom: 1px solid black;">
        
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2 mx-2">
                            <label class="col-sm-3 col-form-label mr-5" for="address">Quận/Huyện:</label>
                            <div class="col-sm-5">
                                <select name="district" id="district_select"  class="form-control" style="border: none; outline: none;
                                background: transparent; border-bottom: 1px solid black;">
        
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2 mx-2">
                            <label class="col-sm-3 col-form-label mr-5" for="address">Phường/Xã:</label>
                            <div class="col-sm-5">
                                <select name="ward" id="ward_select"  class="form-control" style="border: none; outline: none;
                                background: transparent; border-bottom: 1px solid black;">
        
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2 mx-2">
                            <label class="col-sm-3 col-form-label mr-5" for="phone">Số nhà, đường</label>
                            <div class="col-sm-7">
                                <input style="border: none; outline: none;
                                    background: transparent; border-bottom: 1px solid black;" type="text"
                                    class="form-control" name="address" id="address" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container" style="text-align: center; padding-bottom: 10px; width: 500px;">
                            <button type="submit" class="btn btn-md button-back color-1" style="background-color: #51BCB1; color: white; font-weight: bold;">
                                Chỉnh sửa địa chỉ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>         
    </div>
</div>
<script src="/javascripts/address.js"></script>

<% include ../partials/footer %>