<% include ../partials/header %>

<div class="container">
    <img src="/images/banner3.png" style="margin-top: 30px;" class="img-fluid" alt="">
    <div class="row justify-content-center">
        <div class="col-md-6" style="padding-top: 30px;">
            <a href="/sales.html"><img src="/images/gif1.gif" width="100%" alt="Sale"></a>
        </div>

        <div class="col-md-6" style="padding-top: 30px;">
          <a href="/sales.html"><img src="/images/gif3.gif" width="100%" alt="Sale"></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4">
        <% if (products) { %>
            <% products.forEach((product) => { %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="card">
                        <div class="container" style="text-align: center; margin-top: 20px;">
                            <a href="/products/<%= product.category %>/<%= product.slug %>">
                                <img src="/product_images/<%= product._id %>/<%= product.image %>" class="card-img" alt="...">
                            </a>
                        </div>
                        <div style="text-align: center;" class="card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                            <% var salePrice = product.salePrice.toLocaleString("vi", { style: "currency", currency: "VND", })%>
                            <% var price = product.price.toLocaleString("vi", { style: "currency", currency: "VND", })%>
                            <% if (product.sale != 0) { %>
                            <p class="original-price"><strike><%= price %></strike></p>
                            <p class="product-price"><%= salePrice %></p>
                            <% } else { %>
                            <br>
                            <p class="product-price"><%= price %></p>
                            <% } %>
                            <a style="background-color: #51BCB1; padding: 10px 30px;"
                                class="btn btn-default button-back color-1" href="/cart/add/<%= product.slug %>"
                                role="button">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>
<% include ../partials/footer %>